html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: linear-gradient(270deg, #e6e6e6, #b3b3b3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
}

.cell {
    background-color: #a2d2ff;
    border: 2px solid #ff7f7f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 800;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 3.4rem;
    font-weight: 700;
    text-shadow: 3px 3px 2px #ff4d4d;
    color: #333;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.players,
#resetBtn {
    display: none;
}

.playersNameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#btnPlayersName {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    width: 9rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #ff7f7f;
    color: #fff;
    font-size: medium;
    font-weight: 600;
}

.playersRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ff7f7f;
    padding: 0.5rem;
    outline: none;
}

.result {
    height: 1rem;
    font-weight: bold;
    color: #ff4d4d;
}

.cell:hover {
    background-color: #82b2e5;
}
